@import "../constant.less";

.container{
  flex: 1;

  .content{
    background-color: #FFF;
    margin-left: 250px;
    padding-bottom: 25px;

    @media screen and (max-width: @mobile-width){
      margin-left: 0;
    }
  }
}