.content {
    background-color: #fff;
    padding: 20px;
    margin-left: 250px;
    flex: 1;

    .des {
        padding: 20px;
        color: #58666e;
        display: flex;
        border-bottom: 1px dotted #ddd;
        flex-direction: column;

        .site {
            flex-direction: row;

            img {
                width: 328px;
                height: 187.2px;
            }

            p {
                margin-bottom: 5px;
            }
        }

        .title {
            margin-bottom: 10px;
        }
    }
}