@import '.../../../constant.less';

.home_content {
  margin-left: 240px;
  padding: 25px;
  background-color: #fff;

  @media screen and (max-width: @mobile-width) {
    margin-left: 0;
  }

  .part {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    border-bottom: 1px solid #ddd;

    &:first-child {
      margin-top: 0;
    }

    span {
      border-bottom: 3px solid #0396d7;
    }
    a {
      font-size: 14px;
    }
  }

  .free_resource {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;

    & > * {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .resource_item {
      display: flex;
      flex-direction: column;
      gap: 10px;

      a {
        color: #0396d7;
      }
    }
  }

  .sites {
    display: flex;
    flex-wrap: wrap;

    a {
      margin: 5px;
      padding: 5px 10px;
      color: #232222;
      font-size: 13px;
      background-color: #f5f7fd;
    }
  }
  .topic {
    width: 100%;
    height: 160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
  }

  .category_list_item {
    display: block;
    margin: 10px 0;
    padding-bottom: 10px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;

    .title {
      color: #0396d7;
    }

    .description {
      margin-top: 5px;
      color: #666666;
    }

    .tip {
      margin: 0;
      padding: 0;
      color: #afafaf;
      font-size: 12px;
      text-align: right;
    }
  }

  .job {
    width: 24%;
    padding: 10px;
    background-color: #f5f7fd;

    span {
      color: #0396d7;
      font-weight: 500;
    }

    p {
      color: #7c7a7a;
    }

    &:hover {
      background-color: #dce3f8;
    }
  }
}
