.content {
  margin-left: 30px;
  flex: 1;
  background-color: #fff;
  padding: 0 25px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  margin-left: 250px;

  .category_list_item {
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
    margin: 20px;
    border-bottom: 1px solid #ddd;

    .title {
      color: #0396d7;
    }

    .description {
      color: #666666;
      margin-top: 5px;
    }
  }
}