.card {
  border: 1px solid #edf5fb;
  padding: 10px;
  height:120px;

  &:hover {
    background-color: #eff5fe;
  }

  .title {
    text-decoration: none;
    color: #0396d7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .description {
    color: #666666;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 20px;
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
  }
}