<!--
 * @Date: 2022-01-20 14:27:07
 * @LastEditors: lzj
 * @LastEditTime: 2022-01-21 16:41:33
 * @FilePath: \qianduan.shop\front\src\pages\document.ejs
-->
<!doctype html lang="zh">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2087076429727327"
    crossorigin="anonymous"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>