.container {
    background-color: #f5f5f5;
    padding: 20px 0;

    .content {
        background-color: #fff;
        padding: 20px;
        display: flex;

        img{
            width: 328px;
            height:187.2px;
        }

        .description{
            margin-left: 20px;
        }
    }
}