code{
  display: block;
  background-color: #ddd;
  padding:10px;
  border-radius: 2px;
}
.content {
  margin-left: 30px;
  flex: 1;
  background-color: #fff;
  padding: 0 25px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  margin-left: 250px;

  header{
    margin: 0 -25px;
    padding: 10px;
    border-bottom:  1px solid #ddd;

    .back{
      text-decoration: none;
      color:#999797;
    }
  }

  article{
    padding: 20px 0;

    h1,h2,h3,h4,h5,h6{
      margin:10px 0;
    }
    p{
      margin:10px 0;
      line-height: 24px;
    }
    ul{

      li{
        line-height: 24px;
      }
    }
  }
}