.content {
  flex: 1;
  margin-left: 250px;
  padding: 0 25px;
  background-color: #fff;

  @media screen and (min-width: 400px) {
    margin-left: 0;
  }

  .category_list_item {
    display: block;
    margin: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;

    .title {
      color: #0396d7;
    }

    .description {
      margin-top: 5px;
      color: #666666;
    }
  }
}
