@import './pages/constant.less';

body {
  background-color: #f0f4fb;
}

.ant-carousel {
  width: calc(100vw - 630px);

  @media screen and (max-width: @mobile-width) {
    width: calc(100vw - 50px);
  }
}

.ant-tabs-tab {
  &.ant-tabs-tab-active {
    a {
      color: #1890ff;
    }
  }

  a {
    color: black;
  }
}

.react-pdf__Page__textContent {
  width: 100vw !important;
}
