@import '.../../../constant.less';

.content {
  flex: 1;
  min-height: 100vh;
  margin-left: 250px;
  padding: 20px;
  background-color: #fff;

  @media screen and (max-width: @mobile-width) {
    margin-left: 0;
    padding: 0;
  }

  .des {
    padding: 20px;
    color: #58666e;
    border-bottom: 1px dotted #ddd;
    
    .input{
      width: 100%;
      resize: none;
      outline: none;
    }

    .site {
      flex-direction: row;

      img {
        width: 328px;
        height: 187.2px;
      }

      p {
        margin-bottom: 5px;
      }
    }

    .title {
      margin-bottom: 10px;
    }
  }
}
